* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  font-family: "Comme", sans-serif;
  background-color: #585858;
}

.info {
  margin: 25px;
  font-size: 20px;
  color: #ededed;
}

.chessboard {
  display: grid;
  grid-template-areas:
    "a8 b8 c8 d8 e8 f8 g8 h8"
    "a7 b7 c7 d7 e7 f7 g7 h7"
    "a6 b6 c6 d6 e6 f6 g6 h6"
    "a5 b5 c5 d5 e5 f5 g5 h5"
    "a4 b4 c4 d4 e4 f4 g4 h4"
    "a3 b3 c3 d3 e3 f3 g3 h3"
    "a2 b2 c2 d2 e2 f2 g2 h2"
    "a1 b1 c1 d1 e1 f1 g1 h1";
  width: 800px;
  height: 800px;
}

.square {
  position: relative;
  width: 100px;
  height: 100px;
}

.square span {
  position: absolute;
  font-size: 16px;
  color: #f1e9e9;
}

.square span.number {
  top: 50%;
  left: -15%;
  transform: translateY(-50%);
}

.square span.letter {
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
}

.whiteSquare {
  background-color: rgb(175, 175, 175);
}

.blackSquare {
  background-color: #68413a;
}

div.square i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  cursor: pointer;
}

.whitePiece {
  color: rgb(235, 235, 235);
}

.timer {
  width: 600px;
  height: 300px;
  border: 5px solid black;
}

.settings {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 50px;
  border: 2px solid black;
}
